<div class="palm-page-header multi-line">
	<!--<div class="icon"></div>-->
	<div class="palm-page-header-wrapper">
		<div class="icon"></div>
		<div class="title">Preferencias</div>
		<div class="subtitle">Guardar aquí tus datos es necesario para poder actualizar los contadores de mensaje y muro.</div>
	</div>	
</div>

<div class="palm-group">
	<div class="palm-group-title">Usuario</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="tuentiemail" x-mojo-element="SmartTextField"></div>
					</div>
				</div>  
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Contraseña</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="password" x-mojo-element="PasswordField"></div>
				</div>
			</div>  
		</div>
	</div>
</div>

<div x-mojo-element="Button" id="save"></div>
